body {
	background-color: #ebf1ff;
	font-size: 18px;
	text-align: center;
	color: #7D6CFF; 
	font-family: Palatino, serif; 
}

h1 {
	text-align:center;
	color: #B427FF;
	font-family: Arnoldboecklin, fantasy;
	font-weight: bold;
	font-size: 40px
	
}

h2 {
	font-style: italic;
	font-size: 20px;
	text-align: center;
	color: #7D6CFF; 
	font-family: Palatino, serif; 
}

<div style="text-align: center"><img src="images/emilyhalflotustree.png" alt="Emily In Tree Pose" style="width:260px;height:600px;" width="100" /></div>

<p> {
	font-size: 30px;
	text-align: center;
	color: #7D6CFF; 
	font-family: Palatino, serif; 
}

ul { color: #7D6CFF;
	font-family: Palatino, serif;
	font-weight: normal;
	text-align: center;
	list-style-type: none;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }