* { margin:0; padding:0; box-sizing:border-box;}

body {
	background-color: #e6c200;
	font-size: 18px;
	text-align: center;
	color: black; 
	font-family: 'Noto Serif', serif;
}

header {
	position: relative;
}

nav {
	background-color: #BAB4B8;
	margin: auto;
}

label {
	display: none;
}

p {
	line-height: 1.5em; 
	text-align: justify;
}

footer {
	background-color: #BAB4B8;
}

article {	
	width: 55%;
	padding: 2em;
	margin:auto;
}


a:visited
	 {color: purple; 
	 	background-color:transparent; 
	 	text-decoration: none}

a:hover 
	{color: gray;
		background-color: transparent;
		text-decoration: none}

 .clearfix:after {
	visibility: hidden;
	display: block;
	content: ".";
	clear: both;
	height: 0;
	font-size: 0;
}

.navlinks {
	text-decoration: none;
	font-weight: 300; 
	color: black;
	font-size: 1.1em;
	text-transform: uppercase;
	font-family: "Open Sans", Helvetica, sans-serif;
	padding: 1em 2em;
	display: inline-block;
}

.generaldescrip {
	padding: 1em 0;
	font-size: 1em;
}

.generaldescrip:first-of-type {
 	padding: 1em 0;
 	font-family: "Open Sans", Helvetica, sans-serif;
 	font-size: 1.4em;
 	font-weight: 300;
 	text-align: center;
 }

#hero {
 	content: url('images/shinnyoflowers.png');
 	width: 75%;
 	margin-left: auto;
 	margin-right: auto;
 	margin-top: 300px;
 }

#check{
	display:none;
}

#wrapper {
	background-color: #C74C05;
	width:75%;
	margin: 0 auto;
	position: relative;
	overflow: auto;
}

#logo {
	content: url('images/logo-small.png');
	width:20%;
	float: left;
	display: block;
	position: relative;
	height: 10em;
}

#district {
	content: url('images/washdcskyline.png');
	position: relative;
	width: 80%;
	height: 10em;
}

#header_wrapper {
	position: fixed;
	width: 75%;
}

@media only screen and (max-width: 1362px){
	label {
		display: block;
		background-color: #BAB4B8;
		padding: 1em 3em;
		text-decoration: none;
		font-weight: 300; 
		color: black;
		font-size: 1.1em;
		text-transform: uppercase;
		font-family: "Open Sans", Helvetica, sans-serif;
	}

	a:visited
	 {color: purple; 
	 	background-color:transparent; 
	 	text-decoration: none}

	a:hover 
	{color: gray;
		background-color: transparent;
		text-decoration: none}

	nav {
		display:none;
	}

	#check:checked + nav{
		display: block;
	}
}

@media only screen and (max-width:1345px) {
	article {
		width: 90%;
		padding: 0;
		}
	}

@media only screen and (max-width:1309px) {
	article {
		width: 80%;
	}
}

@media only screen and (max-width:980px) {
	#wrapper {
		width: 100%;
		overflow: hidden;
	}

	#header_wrapper {
			position: relative;
			width: 100%;
		}

	#hero {
			display:none;
		}
	}
	.generaldescrip:first-of-type {
		top-margin: 200px;
	}


	footer { 
		bottom: 0 !important;
	}

		}

	article {
		width: 60%;
	}

	}

@media only screen and (max-width:855px) {

		article {
			display: block;
		}

		#header_wrapper {
			position: relative;
			width: 100%;
		}

		footer { 
		position: absolute;
		bottom: 0;

		}

	}

	@media only screen and (max-width:700px) {
		#district {
			width: 100%;
		}

		#logo {
			display:none;
		}


@media only screen and (max-width:578px) {
	.generaldescrip:first-of-type {
		font-size: 1.2em;
	}

	.generaldescrip: {
		padding: 0;
		font-size: .8em;
	}

}


@media only screen and (max-width:505px) {
		footer.navlinks {
			font-size: 1em;
			text-transform: uppercase;
			padding: 1em 2em;
		}

		.generaldescrip:first-of-type {
			display:none;

	}

